@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --color-background: #98163d;
  --color-primary: #fff;
}

* {
  /* margin: 0px; */
  /* padding: 0px; */
  box-sizing: border-box;
}

body {
  font-family: "PT Serif", serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-primary);
  background-color: var(--color-background);
}

h1 {
  font-size: 42px;
}

@media screen and (min-width: 80rem) {
  h1 {
    font-size: 44px;
  }
  body {
    font-size: 20px;
  }
}

.wrapper {
  max-width: 700px;
  padding: 16px;
  margin: 0 auto;
}

header {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-wrapper {
  width: 120px;
}

.logo-wrapper > img {
  max-width: 100%;
  max-height: 100%;
}

header a {
  color: var(--color-primary);
  text-decoration: none;
  font-weight: 700;
}
header a:hover {
  text-decoration: underline;
}

p {
  margin: 24px 0;
  text-align: justify;
}

li {
  margin: 8px 0;
}

li a {
  color: var(--color-primary);
  text-decoration: underline;
}
li a:hover {
  color: #888;
}
